<div class="create-page-container">
  <h1>Create Adventurer 🧙</h1>
  <form [formGroup]="characterform" (ngSubmit)="handleSubmit()">
    <div class="form-container">
      <div formGroupName="characterDetails" class="form-submodule">
        <h2>Character Details</h2>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="nameControl" placeholder="Type character's name here" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Race</mat-label>
          <mat-select formControlName="raceControl" required>
            <mat-option *ngFor="let race of races" [value]="race">{{race}}</mat-option>
          </mat-select>
        </mat-form-field>
        <label id="class-radio-label">Choose your class</label>
        <mat-radio-group class="radio-column" aria-labelledby="class-radio-label" color="primary" formControlName="classControl">
          <mat-radio-button *ngFor="let c of classes" [value]="c">{{c}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="form-submodule">
        <h2>Alignment</h2>
        <label id="alignment-radio-label">Choose your alignment</label>
        <mat-radio-group class="radio-column" aria-labelledby="alignment-radio-label" color="primary" formControlName="alignmentControl">
          <mat-radio-button *ngFor="let alignment of alignments" [value]="alignment">{{alignment}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="form-submodule">
        <h2>Background</h2>
        <mat-form-field>
          <mat-label>Backstory</mat-label>
          <textarea rows="20" matInput formControlName="backgroundControl" placeholder="Type character's backstory here" required></textarea>
        </mat-form-field>
      </div>
      <div formGroupName="equipment" class="form-submodule">
        <h2>Starting Equipment</h2>
        <mat-form-field>
          <mat-label>Starting Gold (gp)</mat-label>
          <input type="number" matInput formControlName="goldPiecesControl" value="0" required>
        </mat-form-field>
        <button mat-raised-button (click)="addEquipment()">+ Add Equipment</button>
        <div formArrayName="equipmentControls" *ngFor="let equipment of equipmentControls.controls; let i=index" >
          <mat-form-field>
            <mat-label>Equipment Item {{i + 1}}</mat-label>
            <input type="text" matInput [formControlName]="i" placeholder="Type equipment item here" required>
          </mat-form-field>
          <button mat-raised-button color="warn" (click)="removeEquipment(i)">Remove</button>
        </div>
      </div>
    </div>
    <mat-checkbox formControlName="agreesTermsControl" color="primary" name="agreesTerms">I agree to slay goblins, seek fortune, and meet other travellers in taverns.</mat-checkbox>
    <button mat-raised-button color="primary" type="submit" [disabled]="!characterform.valid">Create Character</button>
  </form>
</div>
