<div class="create-page-container">
  <h1>Create Adventurer 🧙</h1>
  <form [formGroup]="characterform" (ngSubmit)="handleSubmit()">
    <div class="form-container">
      <div formGroupName="characterDetails" class="form-submodule">
        <h2>Character Details</h2>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="nameControl" placeholder="Type character's name here" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Race</mat-label>
          <mat-select formControlName="raceControl" required>
            <mat-option value="human">Human</mat-option>
            <mat-option value="half-orc">Half Orc</mat-option>
            <mat-option value="elf">Elf</mat-option>
            <mat-option value="rock-goblin">Rock Goblin</mat-option>
            <mat-option value="tiefling">Tiefling</mat-option>
            <mat-option value="succubus">Succubus</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dobControl" required>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>MM/DD/YYYY</mat-hint>
        </mat-form-field>
        <br>
        <label id="class-radio-label">Choose your class</label>
        <mat-radio-group class="radio-column" aria-labelledby="class-radio-label" color="primary">
          <mat-radio-button value="fighter">Fighter</mat-radio-button>
          <mat-radio-button value="rogue">Rogue</mat-radio-button>
          <mat-radio-button value="warlock">Warlock</mat-radio-button>
          <mat-radio-button value="barbarian">Barbarian</mat-radio-button>
          <mat-radio-button value="ranger">Ranger</mat-radio-button>
          <mat-radio-button value="cleric">Cleric</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="form-submodule">
        <h2>Alignment</h2>
        <label id="alignment-radio-label">Choose your alignment</label>
        <mat-radio-group class="radio-column" aria-labelledby="alignment-radio-label" color="primary">
          <mat-radio-button value="lawful-good">Lawful Good</mat-radio-button>
          <mat-radio-button value="neutral-good">Neutral Good</mat-radio-button>
          <mat-radio-button value="chaotic-good">Chaotic Good</mat-radio-button>
          <mat-radio-button value="lawful-neutral">Lawful Neutral</mat-radio-button>
          <mat-radio-button value="true-neutral">True Neutral</mat-radio-button>
          <mat-radio-button value="chaotic-neutral">Chaotic Neutral</mat-radio-button>
          <mat-radio-button value="lawful-evil">Lawful Evil</mat-radio-button>
          <mat-radio-button value="neutral-evil">Neutral Evil</mat-radio-button>
          <mat-radio-button value="chaotic-evil">Chaotic Evil</mat-radio-button>
        </mat-radio-group>
      </div>
      <div formGroupName="equipment" class="form-submodule">
        <h2>Starting Equipment</h2>
        <button mat-raised-button (click)="addEquipment()">+ Add Equipment</button>
        <div formArrayName="equipmentControls" *ngFor="let equipment of equipmentControls.controls; let i=index" >
          <mat-form-field>
            <mat-label>Equipment Item {{i + 1}}</mat-label>
            <input type="text" matInput [formControlName]="i" placeholder="Type equipment item here" required>
          </mat-form-field>
          <button mat-raised-button color="warn" (click)="removeEquipment(i)">Remove</button>
        </div>
        <mat-form-field>
          <mat-label>Starting Gold (gp)</mat-label>
          <input type="number" matInput formControlName="goldPiecesControl" required>
        </mat-form-field>
      </div>
      <div class="form-submodule">
        <h2>Background</h2>
        <mat-form-field>
          <mat-label>Backstory</mat-label>
          <textarea matInput formControlName="backgroundControl" placeholder="Type character's backstory here" required></textarea>
        </mat-form-field>
      </div>
    </div>
    <mat-checkbox formControlName="agreesTermsControl" color="primary" name="agreesTerms">I agree to slay goblins, seek fortune, and save princesses.</mat-checkbox>
    <button mat-raised-button color="primary" type="submit">Create Character</button>
  </form>

  <br>
  <h2>Form JSON Data</h2>
  <pre>
    {{characterform.value | json}}
  </pre>
</div>