<header>
  <mat-toolbar class="header" color="primary">
    <nav>
      <button mat-button color="accent" class="header-route" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</button>
      <button mat-button color="accent" class="header-route" routerLink="/create" routerLinkActive="active">Create Adventurer</button>
      <button mat-button color="accent" class="header-route" routerLink="/about" routerLinkActive="active">About</button>
    </nav>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
